Source/LogicAppsWithEventHub/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "documentdbAccountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the account without 'documents.azure.com' part"
      }
    },
    "documentdbAccessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Primary or Secondary Key"
      }
    },
    "eventhubsConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "Azure Event Hubs Connection String"
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "documentdbConnectionName": "documentdb",
    "eventhubsConnectionName": "eventhubs"
  },
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Scope": {
              "type": "Scope",
              "actions": {
                "Create_or_update_document": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "Offset": "@triggerBody()?['SystemProperties']?['Offset']",
                      "PartitionKey": "@{base64ToString(triggerBody()?['ContentData'])}",
                      "SeqNumber": "@triggerBody()?['SystemProperties']?['SequenceNumber']",
                      "id": " @{base64ToString(triggerBody()?['ContentData'])}"
                    },
                    "headers": {
                      "x-ms-documentdb-raw-partitionkey": "\"@{base64ToString(triggerBody()?['ContentData'])}\""
                    },
                    "path": "/dbs/@{encodeURIComponent('sample')}/colls/@{encodeURIComponent('events')}/docs"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {}
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@result()",
                      "Succeeded"
                    ]
                  }
                ]
              },
              "actions": {
                "Terminate": {
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Succeeded"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Scope": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "bjdlogAppLogger": {
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "triggerName": "manual",
                        "workflow": {
                          "id": "/subscriptions/5cd8aef3-0105-48cd-99bf-f616497eab80/resourceGroups/DevSub01_EventHubs-BJD_RG/providers/Microsoft.Logic/workflows/bjdlogAppLogger"
                        }
                      },
                      "body": {
                        "body": "{ \n    \"id\": \"@{triggerBody()?['SystemProperties']?['PartitionKey']}\",\n    \"body\": \"this message failed\"\n}"
                      }
                    },
                    "runAfter": {}
                  },
                  "Terminate_2": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "1024",
                        "message": "Failed on insert"
                      }
                    },
                    "runAfter": {
                      "bjdlogAppLogger": [
                        "Succeeded"
                      ]
                    }
                  }
                }
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_events_are_available_in_Event_Hub": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['eventhubs']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent('hub001')}/events/batch/head",
                "queries": {
                  "contentType": "application/octet-stream",
                  "consumerGroupName": "$Default",
                  "minimumPartitionKey": "0",
                  "maximumPartitionKey": "0",
                  "maximumEventsCount": 50
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 2
              },
              "splitOn": "@triggerBody()"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "documentdb": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'documentdb')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('documentdbConnectionName'))]",
                "connectionName": "[variables('documentdbConnectionName')]"
              },
              "eventhubs": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'eventhubs')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('eventhubsConnectionName'))]",
                "connectionName": "[variables('eventhubsConnectionName')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('documentdbConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('eventhubsConnectionName'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[variables('documentdbConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'documentdb')]"
        },
        "displayName": "[variables('documentdbConnectionName')]",
        "parameterValues": {
          "databaseAccount": "[parameters('documentdbAccountName')]",
          "accessKey": "[parameters('documentdbAccessKey')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[variables('eventhubsConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'eventhubs')]"
        },
        "displayName": "[variables('eventhubsConnectionName')]",
        "parameterValues": {
          "connectionString": "[parameters('eventhubsConnectionString')]"
        }
      }
    }
  ],
  "outputs": {}
}